Repository chainbound/bolt, pull requests merged in 2024-07, with the labels that each got.

#108 feat: refactor config and add ChainConfig
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/signature.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/signing.rs
  bolt-sidecar/src/lib.rs
Labels: C: bolt-sidecar, T: feature

#123 fix(sidecar): wrong slot-diff while checking preconf
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/state/mod.rs
Labels: C: bolt-sidecar, T: bug

#135 Fix devnet with constraints deadline
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/builder/signature.rs
  builder/builder/builder.go
  builder/builder/eth_service.go
  builder/miner/multi_worker.go
  builder/miner/payload_building.go
  builder/miner/worker.go
  builder/miner/worker_test.go
  mev-boost-relay/services/api/service.go
Labels: C: bolt-sidecar, C: block-builder, A: devnet, T: bug

#162 fix(devnet): better support of multiple preconfs in blocks
  Justfile
  bolt-sidecar/src/config/mod.rs
  bolt-spammer/src/main.rs
  bolt-spammer/src/utils.rs
  builder/Dockerfile
  builder/Dockerfile.alltools
  builder/builder/utils.go
  builder/core/types/constraints.go
  builder/go.mod
  builder/go.sum
  builder/miner/worker.go
  mev-boost-relay/go.mod
  mev-boost-relay/go.sum
  mev-boost-relay/services/api/proofs.go
  mev-boost-relay/services/api/service.go
  mev-boost-relay/services/api/types.go
  mev-boost/Dockerfile
  mev-boost/go.mod
  mev-boost/go.sum
  mev-boost/server/constraints.go
  mev-boost/server/constraints_test.go
  mev-boost/server/service.go
Labels: C: mev-boost, C: mev-boost-relay, C: block-builder, A: devnet, T: bug

#110 Fix multiple preconfirmations for the same slot in demo
  bolt-web-demo/frontend/src/app/page.tsx
  bolt-web-demo/frontend/src/lib/constants.ts
  bolt-web-demo/frontend/src/lib/wallet.ts
  scripts/start-demo.sh
Labels: T: bug, C: bolt-frontend-demo

#161 Implement new commitments-API
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/commitments/jsonrpc.rs
  bolt-sidecar/src/api/commitments/mod.rs
  bolt-sidecar/src/api/commitments/server.rs
  bolt-sidecar/src/api/commitments/spec.rs
  bolt-sidecar/src/api/mod.rs
  bolt-sidecar/src/builder/template.rs
  bolt-sidecar/src/client/rpc.rs
  bolt-sidecar/src/json_rpc/api.rs
  bolt-sidecar/src/json_rpc/mod.rs
  bolt-sidecar/src/json_rpc/spec.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/commitment.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/test_util.rs
Labels: C: bolt-sidecar, T: chore

#160 feat: minimal rpc client
  bolt-client/.gitignore
  bolt-client/Cargo.lock
  bolt-client/Cargo.toml
  bolt-client/README.md
  bolt-client/rustfmt.toml
  bolt-client/src/main.rs
  bolt-client/src/registry.rs
  bolt-client/src/utils.rs
  bolt-kurtosis-client/.gitignore
  bolt-kurtosis-client/Cargo.lock
  bolt-kurtosis-client/Cargo.toml
  bolt-kurtosis-client/README.md
  bolt-kurtosis-client/rustfmt.toml
  bolt-kurtosis-client/src/constants.rs
  bolt-kurtosis-client/src/main.rs
  bolt-kurtosis-client/src/utils.rs
  bolt-spammer-helder/.env.example
  bolt-spammer-helder/README.md
  bolt-spammer-helder/src/constants.rs
  bolt-spammer-helder/src/main.rs
  bolt-spammer-helder/src/utils.rs
Labels: C: bolt-rpc

#168 chore: add client signature test
  bolt-client/README.md
  bolt-client/src/main.rs
  bolt-client/src/utils.rs
Labels: T: chore, C: bolt-rpc
