Repository chainbound/bolt, pull requests merged in 2024-12, with the labels that each got.

#513 feat(cli): Add `web3signer` KeySource
  bolt-cli/Cargo.lock
  bolt-cli/Cargo.toml
  bolt-cli/README.md
  bolt-cli/src/cli.rs
  bolt-cli/src/commands/delegate/mod.rs
  bolt-cli/src/commands/delegate/web3signer.rs
  bolt-cli/src/commands/pubkeys.rs
  bolt-cli/src/common/dirk/distributed.rs
  bolt-cli/src/common/dirk/mod.rs
  bolt-cli/src/common/dirk/test_util.rs
  bolt-cli/src/common/mod.rs
  bolt-cli/src/common/web3signer.rs
  bolt-cli/test_data/web3signer/keystore/keystore-m_12381_3600_0_0_0-1733041966.json
  bolt-cli/test_data/web3signer/keystore/password.txt
  bolt-cli/test_data/web3signer/keystore/validators.yaml
  bolt-cli/test_data/web3signer/tls/combined.pem
  bolt-cli/test_data/web3signer/tls/key.p12
  bolt-cli/test_data/web3signer/tls/password.txt
  bolt-cli/test_data/web3signer/tls/web3signer.crt
Labels: T: feature, C: bolt-cli

#522 fix: bolt pubkeys local-keystore command flags
  bolt-cli/README.md
  testnets/holesky/QUICK_START.md
Labels: A: docs, T: bug

#521 chore: use more specific error types
  bolt-sidecar/src/api/commitments/handlers.rs
  bolt-sidecar/src/api/commitments/spec.rs
Labels: C: bolt-sidecar, T: chore

#523 chore(docs): use bolt generate bls instead of visiting website
  testnets/holesky/QUICK_START.md
  testnets/holesky/commit-boost/bolt-sidecar.env.example
Labels: A: docs, T: chore

#600 feat: build valid fallback payload with Nethermind
  bolt-sidecar/src/builder/fallback/engine_hinter.rs
  bolt-sidecar/src/builder/fallback/engine_hints/geth.rs
  bolt-sidecar/src/builder/fallback/engine_hints/mod.rs
  bolt-sidecar/src/builder/fallback/engine_hints/nethermind.rs
  bolt-sidecar/src/builder/fallback/payload_builder.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/chain_io/manager.rs
Labels: C: bolt-sidecar, T: feature

#617 chore(repo): use custom taplo configs to format TOML
  .taplo.toml
  bolt-boost/Cargo.toml
  bolt-cli/Cargo.toml
  bolt-sidecar/Cargo.toml
Labels: T: chore, A: meta
