Repository chainbound/bolt, pull requests merged in 2024-10, with the labels that each got.

#251 feat(registry): added max committed gas limit per validator
  bolt-contracts/src/contracts/BoltValidators.sol
  bolt-contracts/src/interfaces/IBoltValidators.sol
  bolt-contracts/test/BoltManager.EigenLayer.t.sol
  bolt-contracts/test/BoltManager.Symbiotic.t.sol
  bolt-contracts/test/BoltValidators.t.sol
Labels: C: smart-contracts

#270 fix(bolt-boost): re-enable logging to stdout
  bolt-boost/Cargo.lock
  bolt-boost/src/main.rs
Labels: A: devnet

#280 fix(bolt-boost): current slot logic
  bolt-boost/src/server.rs
Labels: T: bug, C: bolt-boost

#275 fix(sidecar): commit boost flag rename
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/driver.rs
Labels: C: bolt-sidecar, T: chore

#287 feat(sidecar): ERC-2335 Keystore signer
  .dockerignore
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/Dockerfile
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/keys/.gitignore
  bolt-sidecar/keys/README.md
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/client/mod.rs
  bolt-sidecar/src/common.rs
  bolt-sidecar/src/config/limits.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/signing.rs
  bolt-sidecar/src/config/validator_indexes.rs
  bolt-sidecar/src/crypto/bls.rs
  bolt-sidecar/src/crypto/mod.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/signer/commit_boost.rs
  bolt-sidecar/src/signer/keystore.rs
  bolt-sidecar/src/signer/local.rs
  bolt-sidecar/src/signer/mod.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/test_util.rs
  justfile
Labels: C: bolt-sidecar, T: feature

#285 fix: updated devnet
  .dockerignore
  bolt-boost/Cargo.lock
  bolt-boost/Cargo.toml
  bolt-boost/src/proofs.rs
  bolt-boost/src/server.rs
  bolt-boost/src/types.rs
  bolt-kurtosis-client/src/main.rs
  bolt-kurtosis-client/src/utils.rs
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/Dockerfile
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/keys/.gitignore
  bolt-sidecar/keys/README.md
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/builder/signature.rs
  bolt-sidecar/src/client/mod.rs
  bolt-sidecar/src/common.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/config/limits.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/signing.rs
  bolt-sidecar/src/config/validator_indexes.rs
  bolt-sidecar/src/crypto/bls.rs
  bolt-sidecar/src/crypto/mod.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/signer/commit_boost.rs
  bolt-sidecar/src/signer/keystore.rs
  bolt-sidecar/src/signer/local.rs
  bolt-sidecar/src/signer/mod.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/test_util.rs
  builder/builder/builder.go
  builder/builder/builder_test.go
  builder/core/types/constraints.go
  builder/miner/worker.go
  justfile
  mev-boost/server/backend.go
  mev-boost/server/constraints.go
  mev-boost/server/mock_relay.go
  mev-boost/server/proofs.go
  mev-boost/server/service.go
  mev-boost/server/service_test.go
  mev-boost/server/utils.go
Labels: A: devnet, T: bug

#292 feat(sidecar): load delegations on startup and send them upon registration
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/Config.example.toml
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/api/commitments/handlers.rs
  bolt-sidecar/src/api/commitments/headers.rs
  bolt-sidecar/src/api/commitments/spec.rs
  bolt-sidecar/src/api/spec.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/payload_fetcher.rs
  bolt-sidecar/src/client/constraints_client.rs
  bolt-sidecar/src/client/test_util/mod.rs
  bolt-sidecar/src/common.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/config/limits.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/signing.rs
  bolt-sidecar/src/config/telemetry.rs
  bolt-sidecar/src/config/validator_indexes.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/primitives/commitment.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/primitives/delegation.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/primitives/transaction.rs
  bolt-sidecar/src/signer/commit_boost.rs
  bolt-sidecar/src/signer/keystore.rs
  bolt-sidecar/src/signer/mod.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/telemetry/metrics.rs
  bolt-sidecar/test_data/delegations.json
Labels: C: bolt-sidecar

#293 feat: add delegations cli
  bolt-delegations-cli/.env.keystore.example
  bolt-delegations-cli/.env.local.example
  bolt-delegations-cli/.gitignore
  bolt-delegations-cli/Cargo.lock
  bolt-delegations-cli/Cargo.toml
  bolt-delegations-cli/README.md
  bolt-delegations-cli/rustfmt.toml
  bolt-delegations-cli/src/config.rs
  bolt-delegations-cli/src/main.rs
  bolt-delegations-cli/src/types.rs
  bolt-delegations-cli/src/utils.rs
  bolt-delegations-cli/test_data/README.md
  bolt-delegations-cli/test_data/lighthouse/secrets/0x8a37d5942b2919e4e77f7784805146da013bd4cd0c77eee5f689873980a23c70570dfd08abc3b267003b32d2e1c015eb
  bolt-delegations-cli/test_data/lighthouse/secrets/0x8a5985a8000d845913dad7651ea42f30b71b561cf759189f3390ddfa726d1112b182af8547a8393af24116173832442f
  bolt-delegations-cli/test_data/lighthouse/validators/0x8a37d5942b2919e4e77f7784805146da013bd4cd0c77eee5f689873980a23c70570dfd08abc3b267003b32d2e1c015eb/voting-keystore.json
  bolt-delegations-cli/test_data/lighthouse/validators/0x8a5985a8000d845913dad7651ea42f30b71b561cf759189f3390ddfa726d1112b182af8547a8393af24116173832442f/voting-keystore.json
  bolt-sidecar/src/signer/keystore.rs
Labels: T: feature

#321 feat(cli): `bolt send` command
  bolt-cli/Cargo.lock
  bolt-cli/Cargo.toml
  bolt-cli/README.md
  bolt-cli/src/cli.rs
  bolt-cli/src/commands/delegate.rs
  bolt-cli/src/commands/mod.rs
  bolt-cli/src/commands/pubkeys.rs
  bolt-cli/src/commands/send.rs
  bolt-cli/src/common/bolt_manager.rs
  bolt-cli/src/common/dirk.rs
  bolt-cli/src/common/keystore.rs
  bolt-cli/src/common/mod.rs
  bolt-cli/src/common/signing.rs
  bolt-cli/src/main.rs
  justfile
Labels: T: feature, C: bolt-cli

#330 `enable-unsafe-lookahead` flag
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/builder/signature.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/state/consensus.rs
Labels: C: bolt-sidecar, T: feature

#340 Integrate with the Bolt registry to check if pubkeys are registered
  .github/.linkspector.yml
  bolt-sidecar/src/chain_io/manager.rs
  bolt-sidecar/src/chain_io/mod.rs
  bolt-sidecar/src/chain_io/utils.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/crypto/ecdsa.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/signer/commit_boost.rs
  bolt-sidecar/src/signer/keystore.rs
  bolt-sidecar/src/state/consensus.rs
Labels: C: bolt-sidecar

#349 fix(sidecar): split public key hashes into chunks to avoid EL limits
  bolt-sidecar/src/chain_io/manager.rs
Labels: C: bolt-sidecar, T: bug
