Repository chainbound/bolt, pull requests merged in 2024-11, with the labels that each got.

#353 chore(sidecar): warn in case of inconsistent gross revenue calculations
  bolt-sidecar/src/builder/template.rs
  bolt-sidecar/src/state/execution.rs
Labels: C: bolt-sidecar, T: chore

#356 fix(sidecar): Debug for blob transactions so it's not noisy
  bolt-sidecar/src/primitives/transaction.rs
Labels: C: bolt-sidecar, T: chore

#361 feat: solve outstanding TODOs
  .github/.linkspector.yml
  .github/workflows/contracts_ci.yml
  .github/workflows/linkspector.yml
  bolt-sidecar/.env.example
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/README.md
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/api/commitments/handlers.rs
  bolt-sidecar/src/api/commitments/headers.rs
  bolt-sidecar/src/api/commitments/server.rs
  bolt-sidecar/src/api/commitments/spec.rs
  bolt-sidecar/src/api/spec.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/builder/signature.rs
  bolt-sidecar/src/builder/template.rs
  bolt-sidecar/src/chain_io/manager.rs
  bolt-sidecar/src/chain_io/mod.rs
  bolt-sidecar/src/client/constraints_client.rs
  bolt-sidecar/src/client/mod.rs
  bolt-sidecar/src/client/pubsub.rs
  bolt-sidecar/src/client/rpc.rs
  bolt-sidecar/src/client/test_util/deneb_get_payload_response.json
  bolt-sidecar/src/client/test_util/mod.rs
  bolt-sidecar/src/common.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/config/limits.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/telemetry.rs
  bolt-sidecar/src/config/validator_indexes.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/commitment.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/primitives/delegation.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/primitives/transaction.rs
  bolt-sidecar/src/signer/commit_boost.rs
  bolt-sidecar/src/signer/keystore.rs
  bolt-sidecar/src/signer/local.rs
  bolt-sidecar/src/signer/mod.rs
  bolt-sidecar/src/state/consensus.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/state/fetcher.rs
  bolt-sidecar/src/state/head_tracker.rs
  bolt-sidecar/src/state/mod.rs
  bolt-sidecar/src/test_util.rs
  testnets/holesky/README.md
  testnets/holesky/bolt-sidecar.env.example
  testnets/holesky/commit-boost/cb-bolt-config.toml
Labels: C: bolt-sidecar

#371 fix(holesky/docker): add environment variable replacement in entrypoint
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/config/constraint_signing.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/telemetry/mod.rs
  scripts/kurtosis_config.yaml
  testnets/holesky/README.md
  testnets/holesky/docker-compose.yml
  testnets/holesky/entrypoint.sh
Labels: C: bolt-sidecar, T: bug

#370 chore(sidecar): cleanup + remove TODOs (continue)
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/chain_io/manager.rs
  bolt-sidecar/src/chain_io/utils.rs
  bolt-sidecar/src/client/constraints_client.rs
  bolt-sidecar/src/config/chain.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/primitives/delegation.rs
Labels: C: bolt-sidecar

#375 Remove stale templates in case of missed slots
  bolt-sidecar/src/state/execution.rs
Labels: C: bolt-sidecar, T: bug

#377 Review logs on commitment deadline
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/state/execution.rs
Labels: C: bolt-sidecar, T: bug

#383 fix(sidecar): avoid panicking if base fee can't be fetched
  bolt-sidecar/Cargo.lock
  bolt-sidecar/src/client/rpc.rs
Labels: C: bolt-sidecar, T: bug

#376 feat: add Devcon validators guide
  scripts/start-devnet.sh
  testnets/devcon/.bolt-sidecar.example.env
  testnets/devcon/.cb.env
  testnets/devcon/.gitignore
  testnets/devcon/README.md
  testnets/devcon/cb-config.toml
  testnets/devcon/cb-devcon-architecture.png
  testnets/devcon/cb-prometheus.yml
  testnets/devcon/cb.docker-compose.yml
  testnets/devcon/targets.json
Labels: T: feature, A: infra

#389 feat: add fast multi-platform build
  .gitignore
  RELEASE.md
  bolt-boost/Cargo.lock
  bolt-boost/Cargo.toml
  bolt-boost/Cross.toml
  bolt-sidecar/Cargo.toml
  bolt-sidecar/Cross.toml
  justfile
  scripts/cross.Dockerfile
Labels: A: infra

#396 fix: handle unexepcted pubkey hash returned from boltmanager
  bolt-sidecar/src/chain_io/manager.rs
  bolt-sidecar/src/driver.rs
Labels: C: bolt-sidecar, T: bug

#400 feat(bolt-cli): `validators` and `operators` commands
  .github/workflows/bolt_cli_ci.yml
  bolt-cli/.gitignore
  bolt-cli/Cargo.lock
  bolt-cli/Cargo.toml
  bolt-cli/src/cli.rs
  bolt-cli/src/commands/delegate.rs
  bolt-cli/src/commands/mod.rs
  bolt-cli/src/commands/operators.rs
  bolt-cli/src/commands/pubkeys.rs
  bolt-cli/src/commands/validators.rs
  bolt-cli/src/common/bolt_manager.rs
  bolt-cli/src/common/hash.rs
  bolt-cli/src/common/mod.rs
  bolt-cli/src/contracts/bolt.rs
  bolt-cli/src/contracts/eigenlayer.rs
  bolt-cli/src/contracts/erc20.rs
  bolt-cli/src/contracts/mod.rs
  bolt-cli/src/contracts/symbiotic.rs
  bolt-cli/src/main.rs
  bolt-cli/test_data/pubkeys.json
  bolt-contracts/script/holesky/operators/RegisterEigenLayerOperator.s.sol
  bolt-contracts/script/holesky/operators/RegisterSymbioticOperator.s.sol
  bolt-contracts/script/holesky/validators/RegisterValidators.s.sol
  testnets/holesky/README.md
Labels: C: bolt-cli

#424 fix: failing proof verification for blob transaction
  bolt-boost/src/proofs.rs
  bolt-boost/src/types.rs
  bolt-boost/testdata/signed_constraints_with_blob.json
Labels: T: bug, C: bolt-boost

#399 feat(sidecar): `ScoreCache` for `account_states`
  bolt-sidecar/.dockerignore
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/benches/score_cache.rs
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/builder/template.rs
  bolt-sidecar/src/common.rs
  bolt-sidecar/src/common/backoff.rs
  bolt-sidecar/src/common/mod.rs
  bolt-sidecar/src/common/score_cache.rs
  bolt-sidecar/src/common/secrets.rs
  bolt-sidecar/src/common/transactions.rs
  bolt-sidecar/src/config/constraint_signing.rs
  bolt-sidecar/src/config/limits.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/signer/local.rs
  bolt-sidecar/src/state/account_state.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/state/mod.rs
  bolt-sidecar/src/telemetry/metrics.rs
  bolt-sidecar/src/test_util.rs
Labels: C: bolt-sidecar
