Repository chainbound/bolt, pull requests merged in 2024-09, with the labels that each got.

#204 Telemetry & Metrics
  Justfile
  README.md
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/infra/grafana/provisioning/dashboards/dashboard.json
  bolt-sidecar/infra/grafana/provisioning/dashboards/dashboard.yml
  bolt-sidecar/infra/grafana/provisioning/datasources/prometheus_ds.yml
  bolt-sidecar/infra/prometheus.yml
  bolt-sidecar/infra/telemetry.compose.yml
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/api/commitments/handlers.rs
  bolt-sidecar/src/api/commitments/headers.rs
  bolt-sidecar/src/api/commitments/middleware.rs
  bolt-sidecar/src/api/commitments/mod.rs
  bolt-sidecar/src/api/commitments/server.rs
  bolt-sidecar/src/api/commitments/spec.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/client/rpc.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/telemetry.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/state/consensus.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/telemetry/metrics.rs
  bolt-sidecar/src/telemetry/mod.rs
  scripts/kurtosis_config.yaml
  scripts/start-devnet.sh
Labels: C: bolt-sidecar, A: devnet, T: feature

#203 feat(sidecar): commit-boost integration
  bolt-sidecar/.env.example
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/bin/sidecar.rs
  bolt-sidecar/src/api/commitments/server.rs
  bolt-sidecar/src/builder/payload_builder.rs
  bolt-sidecar/src/client/commit_boost.rs
  bolt-sidecar/src/client/rpc.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/config/signing.rs
  bolt-sidecar/src/crypto/bls.rs
  bolt-sidecar/src/crypto/ecdsa.rs
  bolt-sidecar/src/crypto/mod.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/commitment.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/state/consensus.rs
  bolt-sidecar/src/state/execution.rs
  bolt-sidecar/src/test_util.rs
Labels: C: bolt-sidecar, T: feature

#220 fix(devnet): avoid deploying deprecated contracts
  scripts/start-devnet.sh
Labels: A: devnet, T: bug

#212 feat(sidecar): constraints client
  bolt-boost/src/types.rs
  bolt-sidecar/.env.example
  bolt-sidecar/Cargo.lock
  bolt-sidecar/Cargo.toml
  bolt-sidecar/README.md
  bolt-sidecar/src/api/builder.rs
  bolt-sidecar/src/api/commitments/handlers.rs
  bolt-sidecar/src/api/spec.rs
  bolt-sidecar/src/builder/mod.rs
  bolt-sidecar/src/builder/template.rs
  bolt-sidecar/src/client/constraints_client.rs
  bolt-sidecar/src/client/mod.rs
  bolt-sidecar/src/client/test_util/mod.rs
  bolt-sidecar/src/config/mod.rs
  bolt-sidecar/src/crypto/bls.rs
  bolt-sidecar/src/driver.rs
  bolt-sidecar/src/lib.rs
  bolt-sidecar/src/primitives/commitment.rs
  bolt-sidecar/src/primitives/constraint.rs
  bolt-sidecar/src/primitives/mod.rs
  bolt-sidecar/src/state/execution.rs
Labels: C: bolt-sidecar, T: feature
